@media screen and (max-width: 1220px) {
    .about-me {
        gap: 32px;
        padding: 0 96px;
    }

    .about-me-wrapper {
        padding-bottom: 32px;
    }

    .about-me-bg {
        position: absolute;
        background-color: var(--black);
        border-radius: 8px;
        top: 32px;
        width: 1220px;
        height: 100%;
        flex: 1;
        top: 58%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    .picture img {
        width: 100%;
        max-width: 300px;
    }

    .about-me-contents {
        padding: 64px 0 0 0;
    }

    .about-me-contents h1 {
        font-size: var(--H5-laptop);
    }
    
    .about-me-contents p:nth-child(2) {
        font-size: var(--H6-laptop);
    }   
    
    .about-me-contents p:nth-child(3) {
        font-size: var(--H6-laptop);
    } 

    .about-me-contents p:nth-child(4) {
        font-family: Poppins, Arial;
        font-size: var(--H6-laptop);
        color: var(--black50);
        display: flex;   
    }

    .service {
        padding: 0 156px;
    }

    .service-container h1 {
        width: 70%;
    }

    .goal h1 {
        font-size: var(--H4-laptop);
        color: var(--secondary-color);
    }

    .goal-bg {
        background-position: 60%;
    }

    .interest-container {
        padding:  128px 128px 0 128px;
    }
}

@media screen and (max-width: 1000px) {
    .about-me-wrapper {
        gap: 32px;
    }

    .footer-contents {
        width: 100%;
        display: flex;
        height: 9em;
        gap: 16px;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }

    .contact-container .contact-info {
        max-width: 475px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 32px;
        margin: 0 auto;
    }

    .interest-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
        gap: 128px 64px;
    }

    .testimonials-container {
        padding: 64px 96px;
        gap: 32px;
    }
}

@media screen and (max-width: 882px) {
    .about-me-contents p:nth-child(4) {
        width: 220%;
        transform: translateX(-56%);  
    }
    
    .service {
        padding: 0 96px;
    }

    .service-container h1 {
        width: 100%;
    }

    .interest-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 128px 64px;
    }

    .testimonials-container {
        flex-direction: column;
    }
}

@media screen and (max-width: 799px) {
    .about-me-wrapper {
        margin: 0 auto;
        display: flex;
        padding: 0 32px;
        padding-bottom: 32px;
        flex-direction: column;
    }

    .about-me-contents {
        width: 100%;
        padding: 0 0 0 0 ;
        flex-direction: column;
    }

    .about-me-contents p:nth-child(4) {
        width: 100%;
        transform: translateX(0%);  
    } 

    .picture img {
        width: 100%;
        max-width: 480px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
    .goal-container {
        padding: 0 96px;
    }   

    .goal-content  {
        width: 100%;
        padding: 96px 0;
        z-index: 999;
    }

    .my-testimonials {
        padding: 0 96px;
    }
}


@media screen and (max-width: 600px) {
    .contact-info h1 {
        font-family: 700;
        font-size: var(--H6-mobile);
    }
    
    .contact-info p:nth-child(2) {
        font-size: 0.9em;
    }
    
    .contact-info div {
        display: flex;
        gap: 16px;
        font-weight: 700;
        font-size: 0.9em;
    }

    .about-me-wrapper {
        padding: 0;
        padding-bottom: 32px;
    }

    .about-me {
        padding: 0 3.5rem;
        margin: 128px 0;
    }

    .about-me-contents h1 {
        font-size: var(--H6-mobile);
    }
    
    .about-me-contents p:nth-child(2) {
        font-size: 0.9rem;
    }   
    
    .about-me-contents p:nth-child(3) {
        font-size: 0.9rem;
    } 

    .about-me-contents p:nth-child(4) {
        font-size: 0.9rem;
    }

    .service {
        padding: 0 2rem;
    }

    .service-wrapper {
        flex-direction: column;
    }

    .service-container .delivery,
    .service-container .quality {
        margin: 64px 0 0 0 ;
    }

    .goal {
        padding: 0 2rem;
    }

    .goal h1 {
        font-size: var(--H6-mobile);
    }

    .goal img {
        transform: rotate(180deg);
        width: 32px;
    }

    .goal-container {
        padding: 0 2rem;
        margin: 128px 0;
        display: flex;
    }

    .goal-bg {
        height: 82%;
        background-size: cover;
        z-index: -1;
    }

    .goal-container {
        padding: 0;
    }

    .goal-content  {
        width: 100%;
        padding: 32px 0;
        z-index: 999;
    }
    
    .goal-content h1 {
        font-size: 0.9em;
    }

    .interest-grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 64px 64px;
    }

    .interest-container {
        padding:  128px 2em 0 2em;
        margin: 0 0 204px 0;
    }

    .interest h1{
        font-size: var(--H6-mobile);
    }

    .interest img {
        width: 32px;
    }

    .interest {
        padding: 0;
    }

    .my-testimonials {
        padding: 0 2rem;
    }

    .my-testimonials h1{
        font-size: var(--H6-mobile);
    }

    .my-testimonials img {
        width: 32px;
    }

    .testimonials {
        padding: 32px 1em;
    }

    .testimonials-container {
        padding: 64px 2rem;
    }
    
}


@media screen and (max-width: 450px) {
    .about-me {
        padding: 0 2rem;
    }

    .goal {
        padding: 0;
    }

    .service {
        padding: 0;
    }
    .goal-container {
        padding: 0;
    }

    .goal-content  {
        margin: 0;
        padding: 0;
    }

    .my-testimonials {
        padding: 0;
    }

    .testimonials-container {
        padding: 32px 0;
    }

}

@media screen and (max-width: 350px) {
    .about-me {
        padding: 0;
    }

    .goal-container {
        padding: 0;
    }

    
    .goal-content h1 {
        font-size: 0.9em;
    }

}

@media screen and (max-width: 281px) {
    .container {
        padding: 0 1em;
    }
}